<div class="container">
  <form>
      <div class="card">
          <div class="card-body">
              <div class="row g-3">
                  <div class="form-group col-md-6">
                      <label for="nome">Nome:</label>
                      <input type="text" class="form-control" placeholder="Nome Carro" aria-label="Nome Carro" name="nome"
                             [(ngModel)]="carro.nome" required>
                  </div>
              </div>

              <div class="row g-3">
                <div class="col-md-6">
                  <label for="marca" class="form-label">Marca:</label>
                  <input type="text" class="form-control" placeholder="Marca Carro" aria-label="Marca Carro" name="marca" [(ngModel)]="carro.marca">
                </div>
              </div>

              <div class="row">
                  <div class="form-group col-md-6">
                      <button type="button" class="btn btn-outline-warning" (click)="consultarEstoque()">
                          <i class="bi bi-arrow-left"></i> Consultar Estoque
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </form>
</div>



